.code-container {
    position: relative;
}

.code-input {
    width: 100%;
    border: none;
    resize: none;
    height: 500px;
    position: absolute;
    top: 0;
    color: #27282200;
    text-decoration: none;
    text-shadow: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

.code-input:active, .code-input:focus {
    outline: none;
}

.code-output {
    width: 96%;
    height: 500px;
}