.main-container {
  margin: 0px;
  padding: 0px 20px;
  height: 100vh;
  background-color: black;
  color: white;
}

fieldset {
  border: none;
}

.indent-check {
  padding: 10px 0px;
  background-color: #3f436d;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

